:root {
  --scroll-thumb: rgb(100, 100, 100);
  --scroll-bg: rgb(30, 30, 30);

  scrollbar-color: var(--scroll-thumb) var(--scroll-bg) !important;
  scrollbar-width: thin !important;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--scroll-thumb);
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-bg);
}
