@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Rori";
  src: url("$fonts/Rori.ttf");
  font-weight: normal;
}

@theme {
  --font-sans: "Rori", "sans-serif", "monospace";

  --breakpoint-sm: 280px;
  --breakpoint-md: 720px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1920px;
  --breakpoint-2xl: 2024;
}

@layer components {
  .border-pattern {
    border-width: 128px;
    border-style: solid;
    border-image: url('/assets/icons/border.webp') 160 space;
  }
}

:root {
  --scroll-opacity: 0.50;

  scrollbar-color: rgba(221, 221, 221, var(--scroll-opacity)) rgba(58, 58, 58, var(--scroll-scroll-opacity)) !important;
  scrollbar-width: thin !important;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(221, 221, 221, var(--scroll-opacity));
}

::-webkit-scrollbar-thumb {
  background: rgba(46, 54, 69, var(--scroll-opacity));
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(58, 58, 58, var(--scroll-opacity));
}
