@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Rori";
  src: url("$fonts/Rori.ttf");
  font-weight: normal;
}

@theme {
  --font-sans: "Rori", "sans-serif", "monospace";

  --breakpoint-sm: 280px;
  --breakpoint-md: 720px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1920px;
  --breakpoint-2xl: 2024;

  --animate-blink: blink 1s infinite;

  @keyframes blink {
    0% {
      opacity: 0%;
    }

    100% {
      opacity: 100%;
    }
  }

}

@layer components {
  .border-pattern {
    border-width: 128px;
    border-style: solid;
    border-image: url('/assets/icons/border.webp') 160 space;
  }

  .crt-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 50%;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%,
        rgba(0, 0, 0, 0.25) 50%),
      linear-gradient(90deg,
        rgba(255, 0, 0, 0.06),
        rgba(0, 255, 0, 0.02),
        rgba(0, 0, 118, 0.06));
    background-size: 100% 4px, 3px 100%;
    pointer-events: none;
    z-index: 200;
  }

}

* {
  text-shadow:
    -1px 0px 2px #05a4ac,
    1px 0px 2px #a81335;
}

;

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }

  5% {
    opacity: 0.34769;
  }

  10% {
    opacity: 0.23604;
  }

  100% {
    opacity: 0.25619;
  }
}

.crt-container::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}

:root {
  --scroll-opacity: 0.50;

  scrollbar-color: rgba(221, 221, 221, var(--scroll-opacity)) rgba(58, 58, 58, var(--scroll-scroll-opacity)) !important;
  scrollbar-width: thin !important;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(221, 221, 221, var(--scroll-opacity));
}

::-webkit-scrollbar-thumb {
  background: rgba(46, 54, 69, var(--scroll-opacity));
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(58, 58, 58, var(--scroll-opacity));
}
